<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.AdminMapper">
    <!-- SQL 매핑 정의 -->
    <select id="userData" resultType="com.example.back.dto.AdminDto">
        SELECT * FROM user
    </select>

    <delete id="userDelete">
        DELETE FROM user WHERE userNo = #{userNo}
    </delete>

    <delete id="cartDelete">
        DELETE FROM cart WHERE userNo = #{userNo}
    </delete>

    <delete id="bizuserDelete">
        DELETE FROM bizuser WHERE userNo = #{userNo}
    </delete>

    <delete id="qnaDelete">
        DELETE FROM qna WHERE userNo = #{userNo}
    </delete>

    <delete id="replyDelete">
        DELETE FROM reply WHERE userNo = #{userNo}
    </delete>

    <update id="updateRole">
        UPDATE user
        SET role = #{role}
        WHERE userNo = #{userNo}
    </update>

    <select id="qnaData" resultType="com.example.back.dto.AdminDto$QnaDto">
        SELECT qna.*, user.id, user.role
        FROM qna
        JOIN user ON qna.userNo = user.userNo
        ORDER BY qnaNo DESC
    </select>

    <update id="qnaAnswer">
        UPDATE qna
        SET answer = #{answer}, answerDate = #{answerDate}
        WHERE qnaNo = #{qnaNo}
    </update>

    <select id="reportData" resultType="com.example.back.dto.AdminDto$ReportDto">
        SELECT reply.*, user.id, menu.menuTitle
        FROM reply
        JOIN user ON reply.userNo = user.userNo
        JOIN menu ON reply.menuNo = menu.menuNo
        WHERE report = 1
    </select>

    <update id="reportKeep">
        UPDATE reply
        SET report = 0
        WHERE replyNo = #{replyNo}
    </update>

    <delete id="reportDelete">
        DELETE FROM reply
        WHERE replyNo = #{replyNo}
    </delete>
</mapper>