<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.MenuMapper">
    <!--리스트 전부-->
    <select id="menuList" parameterType="map" resultType="MenuDto">
        SELECT * FROM menu ORDER BY menuNo DESC
    </select>
    <!--인기순 // 좋아요 순-->
    <select id="menuListBest" parameterType="map" resultType="MenuDto">
        SELECT * FROM menu ORDER BY heart DESC
    </select>

    <delete id="menuDelete">
        DELETE FROM menu
        WHERE menuNo = #{menuNo}
    </delete>

    <select id="menuDetail" resultType="MenuDto">
        SELECT
            *
        FROM menu
        WHERE menuNo = #{menuNo}
    </select>
    <select id="reply" resultType="hashmap">
        SELECT
            u.userNo,
            u.username
            r.replyNo,
                r.menuNo,
            r.replyContent,
            r.rImg,
            r.regDate,
            r.heart
        FROM
            reply r
                INNER JOIN reply r ON u.userNo = r.userNo
                INNER JOIN menu m ON r.menuNo = m.menuNo
        WHERE
            .userNo = #{userNo}
    </select>

    <insert id="menuWrite">
        INSERT INTO menu(goodsNum,menuPrice, menuCate, menuTitle ,menuContent, regDate, readCount, heart , menuImg, mdImg, business)
        VALUES ( #{goodsNum}, #{menuPrice},#{menuCate}, #{menuTitle}, #{menuContent},#{regDate},#{readCount}, 0, #{menuImg}, #{mdImg}, #{regDate})
    </insert>

    <!-- 장바구니   -->
    <insert id="cartSave">
        INSERT INTO cart(menuNo, userNo, menuCount)
        VALUES (#{menuNo}, #{userNo}, #{menuCount})
    </insert>

    <insert id="insertReply">
        INSERT INTO reply(menuNo, userNo, replyContent, rImg ,report, heart)
        VALUES (#{menuNo}, #{userNo}, #{replyContent}, #{rImg}, 0, 1)
    </insert>

    <select id="cart" resultType="hashmap">
        SELECT
            u.userNo,
            c.menuNo,
            c.cartId,
            c.menuCount,
            m.menuTitle,
            m.menuImg,
            m.menuPrice
        FROM
            user u
                INNER JOIN cart c ON u.userNo = c.userNo
                INNER JOIN menu m ON c.menuNo = m.menuNo
        WHERE
            u.userNo = #{userNo}
    </select>

    <select id="getReply" resultType="ReplyDto">
        SELECT reply.*, user.id
        FROM reply
                 JOIN user ON reply.userNo = user.userNo
--                  JOIN menu ON reply.menuNo = menu.menuNo
        WHERE menuNo = #{menuNo}
        ORDER BY reply.replyNo DESC
    </select>

    <update id="replyReport">
        UPDATE reply
        SET report = 1
        WHERE replyNo = #{replyNo}
    </update>

    <update id="replyLike">
        UPDATE reply
        SET heart = heart + 1
        WHERE replyNo = #{replyNo}
    </update>

    <update id="menuLike">
        UPDATE menu
        SET heart = heart + 1
        WHERE menuNo = #{menuNo}
    </update>

    <update id="plusCart">
        UPDATE cart
        SET menuCount = menuCount + 1
        WHERE cartId = #{cartId}
    </update>

    <update id="minusCart">
        UPDATE cart
        SET menuCount = menuCount - 1
        WHERE cartId = #{cartId}
    </update>

    <delete id="deleteCart">
        DELETE FROM cart
        WHERE cartId = #{cartId}
    </delete>

    <delete id="cartDeleteAll">
        DELETE FROM cart
        WHERE userNo = #{userNo}
    </delete>

    <select id="buyUser" resultType="AdminDto">
        SELECT *
        FROM user
        WHERE userNo = #{userNo}
    </select>

    <resultMap id="infoMenuResultMap" type="MenuDto">
        <id property="menuNo" column="menuNo" />
        <result property="goodsNum" column="goodsNum" />
        <result property="menuPrice" column="menuPrice" />
        <result property="menuCate" column="menuCate" />
        <result property="menuTitle" column="menuTitle" />
        <result property="menuContent" column="menuContent" />
        <result property="readCount" column="read_count" />
        <result property="regDate" column="reg_date" />
        <result property="heart" column="heart" />
        <result property="mImg" column="mImg" />
        <result property="mdImg" column="mdImg" />
    </resultMap>
</mapper>

