<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.MenuMapper">
<!--리스트 전부-->
    <select id="menuList" parameterType="map" resultType="MenuDto">
        SELECT * FROM menu ORDER BY menuNo DESC
    </select>
    <!--인기순 // 좋아요 순-->
    <select id="menuListBest" parameterType="map" resultType="MenuDto">
        SELECT * FROM menu ORDER BY heart DESC
    </select>
    <select id="menuListCateMenu" parameterType="map" resultType="MenuDto">
        SELECT * FROM menu WHERE menuCate = #{menuCate};
    </select>

    <select id="menuDetail" resultType="MenuDto">
        SELECT
            *
        FROM menu
        WHERE menuNo = #{menuNo}
    </select>

    <!-- 장바구니   -->
    <insert id="insertCart">
        INSERT INTO cart(cartId, menuNo, userNo, menuCount)
        VALUES (#{cartId}, #{menuNo}, #{userNo}, #{menuCount})
    </insert>

    <select id="cart111" resultType="menuDto">
        SELECT
            *
        FROM menu
        WHERE menuNo = #{menuNo}
    </select>



    <resultMap id="infoMenuResultMap" type="MenuDto">
        <id property="menuNo" column="menuNo" />
        <result property="goodsNum" column="goodsNum" />
        <result property="menuPrice" column="menuPrice" />
        <result property="menuCate" column="menuCate" />
        <result property="menuTitle" column="menuTitle" />
        <result property="menuContent" column="menuContent" />
        <result property="readCount" column="read_count" />
        <result property="regDate" column="reg_date" />
        <result property="heart" column="heart" />
        <result property="mImg" column="mImg" />
        <result property="mdImg" column="mdImg" />
    </resultMap>
</mapper>

