<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.mapper.UserMapper">
    <!-- SQL 매핑 정의 -->
    <select id="getUser" resultType="com.example.back.domain.User">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <insert id="addUser" parameterType="com.example.back.domain.User"
            useGeneratedKeys="true" keyProperty="userNo">
        INSERT INTO user (id, name, pass, email, zipcode, address1, address2, phone, email_get, join_date, role)
        VALUES (#{id}, #{name}, #{pass}, #{email}, #{zipcode},#{address1}, #{address2}, #{phone}, #{emailGet}, SYSDATE(), #{role})
    </insert>
</mapper>